AUTH_SECRET=
AUTH_TRUST_HOST=true
API_URL=https://yourapi.herokuapp.com/api

API_URL=http://localhost:3080/api
NEXT_PUBLIC_API_URL=http://localhost:3080/api
NODE_ENV=development
# NEXT_PUBLIC_API_URL=https://yourapi.herokuapp.com/api

# NEXT_PUBLIC_STRIPE_BILLING=https://billing.stripe.com/p/login/test_id
# STRIPE_PLAN_YEARLY_URL=https://buy.stripe.com/test_id
# STRIPE_PLAN_MONTHLY_URL=https://buy.stripe.com/test_id
NEXT_PUBLIC_STRIPE_BILLING=https://billing.stripe.com/p/login/yourid
NEXT_PUBLIC_STRIPE_PLAN_YEARLY_URL=https://buy.stripe.com/yourid
NEXT_PUBLIC_STRIPE_PLAN_MONTHLY_URL=https://buy.stripe.com/yourid

NEXT_PUBLIC_STRIPE_MONTHLY_PRICE_ID=price_id
NEXT_PUBLIC_STRIPE_YEARLY_PRICE_ID=price_id
NEXT_PUBLIC_MEASUREMENT_ID=yourid